####SQLlite

    - RDBMS(관계형 데이터 베이스)
    - 서버가 아니라 응용 프로그램에 넣고 사용하는 가벼운 데이터베이스
    - python,핸드폰, 스프링 부트

In [4]:
import sqlite3
import datetime

print("sqllite3 vesion",sqlite3.version)
print("sqllite3 vesion",sqlite3.sqlite_version)

now = datetime.datetime.now()
nowDateTime = now.strftime("%Y-%m-%d %H:%M:%S")
print("date",nowDateTime)

sqllite3 vesion 2.6.0
sqllite3 vesion 3.42.0
date 2023-06-23 10:47:56

#### 데이터베이스 생성

In [5]:
conn = sqlite3.connect("/source/pythonsource/resource/test.db",isolation_level=None)

In [6]:
cursor = conn.cursor()

In [9]:
cursor.execute("create table if not exists users(id integer primary key, username text, email text,phone text, website text, regdate text)")

In [27]:
cursor.execute("insert into users(id, username,email,phone,website,regdate) "
               "values(1,'kim','kim@naver.com','010-0000-1111','kim.com',?)",(nowDateTime,))# 하나일때는 ,를 넣어야함

In [28]:
cursor.execute("insert into users(id, username,email,phone,website,regdate) "
               "values(?,?,?,?,?,?)",(2,'jim','jim@naver.com','010-0100-1111','jim.com',nowDateTime))

In [29]:
userList =((3,'bim','bim@naver.com','010-0100-1121','bim.com',nowDateTime),
           (4,'tim','tim@naver.com','010-0100-1331','tim.com',nowDateTime),
           (5,'yim','yim@naver.com','010-0100-1221','yim.com',nowDateTime))

cursor.executemany("insert into users(id,username,email,phone,website,regdate) "
                   "values(?,?,?,?,?,?)",userList)

In [25]:
cursor.execute("delete from users").rowcount

3

데이터 조회
    -fetchone(),fetchmany(),fetchall()

In [21]:
cursor.execute("select * from users")

In [30]:
cursor.fetchone()

In [31]:
cursor.fetchmany(size=2)

[]

In [32]:
cursor.fetchall()

[]

In [33]:
for c in cursor.fetchall():
    print(c)

In [35]:
for c in cursor.execute("select * from users order by id desc"):
    print(c)

(5, 'yim', 'yim@naver.com', '010-0100-1221', 'yim.com', '2023-06-23 10:47:56')
(4, 'tim', 'tim@naver.com', '010-0100-1331', 'tim.com', '2023-06-23 10:47:56')
(3, 'bim', 'bim@naver.com', '010-0100-1121', 'bim.com', '2023-06-23 10:47:56')
(2, 'jim', 'jim@naver.com', '010-0100-1111', 'jim.com', '2023-06-23 10:47:56')
(1, 'kim', 'kim@naver.com', '010-0000-1111', 'kim.com', '2023-06-23 10:47:56')

In [36]:
cursor.execute("select * from users where id=%d" % 4)
cursor.fetchall()

[(4,
  'tim',
  'tim@naver.com',
  '010-0100-1331',
  'tim.com',
  '2023-06-23 10:47:56')]

In [38]:
cursor.execute("select * from users where id in (%d,%d)" % (3,5))
cursor.fetchall()

[(3,
  'bim',
  'bim@naver.com',
  '010-0100-1121',
  'bim.com',
  '2023-06-23 10:47:56'),
 (5,
  'yim',
  'yim@naver.com',
  '010-0100-1221',
  'yim.com',
  '2023-06-23 10:47:56')]

In [39]:
cursor.execute("update users set username = ? where id=?",("weqeqdsi2m",2))

In [40]:
cursor.execute("delete from users where id=?",(5,))