### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

## 데이터 타입

### 1.Series(https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

<img src="https://bites-data.s3.us-east-2.amazonaws.com/series_spreadsheet.png" width="300" height="200">

### 생성

#### 1) 리스트

In [1]:
list1 = [70,80,90]

In [2]:
import pandas as pd

ser = pd.Series(list1)
ser

0    70
1    80
2    90
dtype: int64

In [6]:
ser1 = pd.Series(list1,index=["국어","영어","수학"])
ser1

국어    70
영어    80
수학    90
dtype: int64

#### 2) 딕셔너리

In [7]:
ser2 = pd.Series({"a":1,"b":2,"c":3})
ser2

a    1
b    2
c    3
dtype: int64

#### Read

In [8]:
# index 조회
ser1.index

Index(['국어', '영어', '수학'], dtype='object')

In [9]:
# values 조회
ser1.values

array([70, 80, 90], dtype=int64)

In [11]:
# values 에서 상위 5개만 조회 : head(), 개수지정 가능 head(3)
ser1.head(2)

국어    70
영어    80
dtype: int64

In [12]:
# values 에서 하위 5개만 조회 : tail(), 개수지정 가능 tail(3)
ser1.tail()

국어    70
영어    80
수학    90
dtype: int64

In [13]:
# shape: 데이터 구조 (행, 열)
ser1.shape

(3,)

#### Update

In [14]:
# index 변경
ser1.index = ["미술","음악","체육"]
ser1

미술    70
음악    80
체육    90
dtype: int64

In [17]:
# 데이터 타입 변경 : astype("변경할타입") => 원본 타입 변경안됨
ser3=ser1.astype("float64")
ser3

미술    70.0
음악    80.0
체육    90.0
dtype: float64

In [18]:
# 특정 값 변경

ser1["음악"] =85
ser1

미술    70
음악    85
체육    90
dtype: int64

In [19]:
ser4 = pd.Series(["1.1","2.2","3.3"])
ser4

0    1.1
1    2.2
2    3.3
dtype: object

In [20]:
ser4 = ser4.astype("float")
ser4

0    1.1
1    2.2
2    3.3
dtype: float64

In [21]:
ser5 = pd.Series(["test","2.2","3.3"])
ser5

0    test
1     2.2
2     3.3
dtype: object

In [24]:
ser1=ser1.rename("점수")
ser1

미술    70
음악    85
체육    90
Name: 점수, dtype: int64

### 삭제

In [ ]:
del ser1["체육"]

In [27]:
ser1

미술    70
음악    85
Name: 점수, dtype: int64

#### 3) ndarray

In [29]:
# numpy 데이터 타입 : ndarray

import numpy as np

ser6 = pd.Series(np.random.randn(4),index=list("abcd"))
ser6

a    0.521272
b    0.285795
c   -0.447733
d   -1.714658
dtype: float64

#### 4) DataFrame 이용

In [30]:
df = pd.DataFrame({"a":[1,2,3,4],"b":[5,6,4,7]})
df

   a  b
0  1  5
1  2  6
2  3  4
3  4  7

In [31]:
ser6 =pd.Series(df['a'])
ser6

0    1
1    2
2    3
3    4
Name: a, dtype: int64